@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#the-fascinating-problem-of-uncle-meleagers-will table{
	border-collapse: collapse;
	margin: 1em auto;
	width: 100%;
}

#the-fascinating-problem-of-uncle-meleagers-will table td{
	padding: .25em;
	vertical-align: top;
}

#the-fascinating-problem-of-uncle-meleagers-will td:first-child{
	text-align: center;
	width: 15%;
}

#the-fascinating-problem-of-uncle-meleagers-will td blockquote{
	margin: 0;
}

#the-fascinating-problem-of-uncle-meleagers-will th{
	font-style: italic;
	font-weight: normal;
	text-align: center;
}

#the-fascinating-problem-of-uncle-meleagers-will > footer{
	text-align: center;
}

#the-undignified-melodrama-of-the-bone-of-contention blockquote{
	font-variant: all-small-caps;
	text-align: center;
}

#the-bibulous-business-of-a-matter-of-taste blockquote{
	text-align: center;
}

#the-bibulous-business-of-a-matter-of-taste blockquote:first-of-type{
	font-variant: small-caps;
}

#the-bibulous-business-of-a-matter-of-taste blockquote p + p{
	margin-top: 1em;
	text-indent: 0;
}

#the-unsolved-puzzle-of-the-man-with-no-face blockquote p{
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

#the-unsolved-puzzle-of-the-man-with-no-face blockquote:nth-of-type(4) p + p::before{
	border-top: 1px solid;
	content: "";
	display: block;
	margin: .5em auto;
	width: 3em;
}

#the-unsolved-puzzle-of-the-man-with-no-face blockquote:nth-of-type(5) p{
	font-variant: initial;
	text-align: initial;
}

#the-unsolved-puzzle-of-the-man-with-no-face blockquote:nth-of-type(5) p:last-of-type{
	text-align: center;
	text-indent: 0;
}

#the-adventurous-exploit-of-the-cave-of-ali-baba blockquote header{
	font-variant: small-caps;
	margin-bottom: 1em;
	text-align: center;
}

[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

/* letter styling */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

/* figure styling */
figure{
	break-inside: avoid;
	margin: 1em 40px;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	width: 100%;
}
