@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#the-fascinating-problem-of-uncle-meleagers-will table{
	border-collapse: collapse;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	width: 100%;
}

#the-fascinating-problem-of-uncle-meleagers-will table td{
	margin-bottom: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	vertical-align: top;
}

#the-fascinating-problem-of-uncle-meleagers-will td:first-child{
	text-align: center;
	width: 15%;
}

#the-fascinating-problem-of-uncle-meleagers-will td:last-child{
	width: 65%;
}

#the-fascinating-problem-of-uncle-meleagers-will td blockquote{
	margin: 0;
}

#the-fascinating-problem-of-uncle-meleagers-will div header{
	font-style: italic;
	margin-top: 1em;
	text-align: center;
	text-indent: 0;
}

#the-undignified-melodrama-of-the-bone-of-contention blockquote{
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

#the-undignified-melodrama-of-the-bone-of-contention blockquote p{
	font-variant: all-small-caps;
	text-align: center;
	text-indent: 0;
}

#the-bibulous-business-of-a-matter-of-taste blockquote{
	padding-left: auto;
	padding-right: auto;
}

#the-bibulous-business-of-a-matter-of-taste blockquote p{
	text-align: center;
	text-indent: 0;
}

#the-bibulous-business-of-a-matter-of-taste blockquote p:first-of-type{
	font-variant: small-caps;
}

#the-bibulous-business-of-a-matter-of-taste blockquote:first-of-type{
	max-width: 55%;
	padding-left: auto;
	padding-right: auto;
	text-align: right;
	text-indent: 0;
}

#the-unsolved-puzzle-of-the-man-with-no-face blockquote p{
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

#the-unsolved-puzzle-of-the-man-with-no-face blockquote:nth-of-type(5){
	font-variant: none;
	text-align: initial;
}

#the-unsolved-puzzle-of-the-man-with-no-face blockquote:nth-of-type(5) p:last-of-type{
	text-align: center;
	text-indent: 0;
}

#the-adventurous-exploit-of-the-cave-of-ali-baba blockquote:first-of-type p{
	font-variant: small-caps;
	padding-bottom: 0.5em;
	text-align: center;
	text-indent: 0;
}

#the-adventurous-exploit-of-the-cave-of-ali-baba blockquote:first-of-type p:last-of-type{
	padding-bottom: 0;
}

[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

/* letter styling */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

/* figure styling */
figure{
	break-inside: avoid;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figure.full-page{
	break-after: page;
	break-before: page;
	margin: 0;
	max-height: 100vh;
	text-align: center;
}

@supports(display: flex){
	figure.full-page{
		display: flex;
		flex-direction: column;
	}

	figure.full-page img{
		height: 100vh;
		object-fit: contain;
	}
}
